<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">
	<!-- 관리자 페이지 - 회원목록조회 -->
	<select id="list" resultType="com.project.vo.AdminVO">
		SELECT MNO,
			   USERID, 
               USERPASS, 
			   USERNAME,
			   REGDATE,
			   GRADE
		FROM (
                SELECT MNO,
                	   USERID, 
		               USERPASS,  
		               USERNAME, 
		               REGDATE,
		               GRADE, 
		               ROW_NUMBER() OVER(ORDER BY mp_member.mno DESC) AS RNUM
		        FROM   mp_member
		         WHERE 1=1 
		         	<include refid='search'></include>
		                       ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY MNO DESC
	</select>
	
	<!-- 검색 -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND USERID LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND USERPASS LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND USERNAME LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND GRADE LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>
	
	<!-- 관리자 페이지 회원목록 삭제 -->
	<delete id="delete" parameterType="com.project.vo.AdminVO">
		DELETE 
		  FROM MP_MEMBER
		 WHERE USERID = #{userId}
	</delete>
	
	<!-- 차트 게시물 총 갯수 -->
	<select id="boardcount" resultType="int">
		SELECT COUNT(BNO) AS BOARDRESULT 
		FROM MP_BOARD
	</select> 
	
	<!-- 차트 게시물 총 갯수 -->
	<select id="replycount" resultType="int">
		SELECT COUNT(RNO) AS RELYRESULT
		FROM MP_REPLY
	</select> 
	
	<!-- 차트 게시물 총 갯수 -->
	<select id="membercount" resultType="int" parameterType="com.project.vo.SearchCriteria">
		SELECT COUNT(USERID) AS MEMBERCOUNT
		FROM MP_MEMBER
		where 1=1
		<include refid='search'></include>
	</select> 
</mapper>